[Meetup.DayInfo {no: 1, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Wednesday}
,Meetup.DayInfo {no: 2, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Thursday}
,Meetup.DayInfo {no: 3, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Friday}
,Meetup.DayInfo {no: 4, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Saturday}
,Meetup.DayInfo {no: 5, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Sunday}
,Meetup.DayInfo {no: 6, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Monday}
,Meetup.DayInfo {no: 7, teenth: false, week: 1, weekday: Data.Maybe.Just Data.Date.Component.Tuesday}
,Meetup.DayInfo {no: 8, teenth: false, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Wednesday}
,Meetup.DayInfo {no: 9, teenth: false, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Thursday}
,Meetup.DayInfo {no: 10, teenth: false, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Friday}
,Meetup.DayInfo {no: 11, teenth: false, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Saturday}
,Meetup.DayInfo {no: 12, teenth: false, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Sunday}
,Meetup.DayInfo {no: 13, teenth: true, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Monday}
,Meetup.DayInfo {no: 14, teenth: true, week: 2, weekday: Data.Maybe.Just Data.Date.Component.Tuesday}
,Meetup.DayInfo {no: 15, teenth: true, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Wednesday}
,Meetup.DayInfo {no: 16, teenth: true, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Thursday}
,Meetup.DayInfo {no: 17, teenth: true, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Friday}
,Meetup.DayInfo {no: 18, teenth: true, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Saturday}
,Meetup.DayInfo {no: 19, teenth: true, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Sunday}
,Meetup.DayInfo {no: 20, teenth: false, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Monday}
,Meetup.DayInfo {no: 21, teenth: false, week: 3, weekday: Data.Maybe.Just Data.Date.Component.Tuesday}
,Meetup.DayInfo {no: 22, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Wednesday}
,Meetup.DayInfo {no: 23, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Thursday}
,Meetup.DayInfo {no: 24, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Friday}
,Meetup.DayInfo {no: 25, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Saturday}
,Meetup.DayInfo {no: 26, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Sunday}
,Meetup.DayInfo {no: 27, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Monday}
,Meetup.DayInfo {no: 28, teenth: false, week: 4, weekday: Data.Maybe.Just Data.Date.Component.Tuesday}
,Meetup.DayInfo {no: 29, teenth: false, week: 5, weekday: Data.Maybe.Just Data.Date.Component.Wednesday}
,Meetup.DayInfo {no: 30, teenth: false, week: 5, weekday: Data.Maybe.Just Data.Date.Component.Thursday}
,Meetup.DayInfo {no: 31, teenth: false, week: 5, weekday: Data.Maybe.Just Data.Date.Component.Friday}
]
